body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 200%;
    background-color: black; */
  /*just in case main img doesn't load*/
  /*text-align*/
  text-align: center;
}

.page-header {
  background-image: url("../images/tanvi-malik-449.jpg");
  /* placeholder image; source: unsplash.com */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 400px;
  text-shadow: 0px 0px 2px black;
}

.newTrailTitle, .newTrailDescription {
  width: 960px;
  border: 1px solid black;
}

.newTrailTitle{
  margin-top: 10px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: auto;
  background: #B8C4AC;
}
