/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


html,
body {
height: 100%;
height: 100%;
padding: 0px;
text-align: center;
background-color: #161E24;
font-family: 'Open Sans Condensed', sans-serif;
}


body,
h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

.margin-bottom-1 {
    margin-bottom: 16px;
}

.margin-top-1 {
    margin-top: 16px;
}

/* Layouts */
.grid  {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 8px;
    grid-template-areas: "header"
                         "footer"
}

/* HEADER */
/* sets background into div */


header h1 {
    font-size: 32px;
    text-shadow: 0 0 2px black;
    color: #ADAAA8;
    font-weight: 700;
}

header h2,
footer h2 {
    margin: 19px 0;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 2px black;
    font-weight: 700;
}

footer h2 {
    color: black;
    text-shadow: none;
}

footer img {
    display: inline-block;
}

form label,
form input,
form button {
    display: inline-block;
}
form label {
    color: white;
    text-shadow: 0 0 2px black;
}
.page-header-background {
  background-image: url("../images/ahmad-kadhim-334554.jpg");
  position: relative;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 0;
  padding-top: 97%;
}

/* sets title, subtitle and search bar into background div */
.page-header {
  position:absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  z-index: 1;
}

.page-header-fade {
    /* background-color: yellow; */
    /* opacity: .5; */
    height:600px;
    position:absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(22,30,36,0), rgba(22,30,36,1));
}

.symbol {
  height: 110px;
  width: 110px;
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 150px;
  margin: 10px;
  color: white;
  padding-top: 7%;
}

/* SEARCH BAR */
.container-4{
  overflow: hidden;
  width: 400px;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.container-4 input#txtAddress{
  width: 400px;
  height: 60px;
  background: #6C9991;
  border: none;
  font-size: 12pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#txtAddress::-webkit-input-placeholder {
  color: white;
}

.container-4 input#txtAddress:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-4 input#txtAddress::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#txtAddress:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #58827a;
  height: 60px;
  width: 60px;
  color: white;
  opacity: 0;
  font-size: 12pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -60px;
}

.container-4:hover button.icon:hover{
  background: white;
  color: #58827a;

}

/* SEARCH RESULTS */
.search-results {
  min-height: 600px;
  font-size: 18px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.newTrailTitle, .newTrailDescription {
  width: 75vw;
  color: black;
}

.newTrailDescription {
  background-color: #cedbd5;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.newTrailTitle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #dee5e2;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.newTrailTitle:hover, .newTrailTitle:focus, .newTrailTitle:active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

/* FOOTER */
.credit-link {
  color: #ADAAA8;
}

.credit-link:hover {
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  background: #213F38;
  font-family: 'Amatic SC', cursive;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ADAAA8;
}

.hover-image {
  margin: 5px;
  height: 75px;
  width: 75px;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .8s ease-in-out;
}

.hover-image:hover {
  height: 75px;
  width: 75px;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.25);
}

/* MTN Images for Review */
.mtn-rating img {
  height: 40px;
  display: inline;
  padding: 10px;
}

.grid-2 {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}

.grid-2 > div:nth-child(1){
  /* background: red; */
}

.grid-2 > div:nth-child(2){
  /* background: green; */
}

.grid-2 > div:nth-child(3){
  /* background: yellow; */
  grid-column: 1 / span 2;
}
